{% extends "base.html" %}


{% load i18n %}



{% load crispy_forms_tags %}

{% block content %}
<body class="feed" style="background-image: url('https://imgur.com/l7V3DXt.png');
background-repeat: no-repeat;
background-size: cover;
">

<div class="row justify-content-center" style="position: relative;top:150px; left: 30px; 
font-size: 50px; 
">
  <div class="col-md-6 col-sm-12">
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction"
      style="font-size: 15px;
       color: rgb(8, 8, 8);"
      href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <div class="d-grid gap-2"
      >
        <button class="mt-3 btn btn-dark primaryAction" type="submit">{% trans "Sign In" %}</button>
      </div>
    </form>
  </div>
</div>
</body> 
{% endblock %}


















