<body class="feed" style="background-image: url('https://imgur.com/l7V3DXt.png');
background-repeat: no-repeat;
background-size: cover;
">

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-10 col-sm-12 text-center">
 
           
            <p class="mt-3 lead" style="text-align: center; font-size: 40px; position: relative;
             top:235px;
            
            
            "  >A platform created for moms in tech to vent about anything and everything  </p>


            <div class="d-flex justify-content-center mt-5">
                <a href="{% url 'account_login' %}" class="login" style="
                position: relative;
                top:350px; left: 680px;
                color: rgb(223, 18, 223);
                padding: 20px 60px 20px 60px;
                border-radius: 4px;
                background-color: rgba(18, 0, 24, 0.753);
                font-size: 25px;
                
                ">LOG IN</a>




                <a href="{% url 'account_signup' %}" class="btn btn-dark" 
                style="
                position: relative;
                top:350px; left: 800px;
                color: rgb(223, 18, 223);
                padding: 20px 60px 20px 60px;
                border-radius: 4px;
                background-color: rgba(18, 0, 24, 0.753);
                font-size: 25px;
                
                
                
                
                
                
                
                ">SIGN UP</a>
            </div>
        </div>
    </div>
</div>
</body>
