{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'sidebar.html' %}
<body class="feed" style="background-image: url('https://imgur.com/IQO1TMf.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 100px;
background-attachment: fixed;

">



    <div class="container" style="background-color: rgba(49, 6, 39, 0.253); 
    width: 50rem; align-items:center;border-radius: 5px;  
   ">
   <!-- USERNAME -->
   <div class="row justify-content-center mt-5" style="align-items: center;">
      <a style="color:rgb(228, 8, 228); font-size: 36px; text-align: center;">Welcome: </a> 
    {% if profile.name %}
    <p class="name">{{ profile.name }}
        <span>
            {% if request.user == user %}
            {% endif %}
        </span>
        {% else %}
        <p class="name" style="color:rgb(253, 253, 253); font-size: 30px; text-align: center; font-family: 'Courier New', Courier, monospace;">{{ user.username }}
            <span>
                {% if request.user == user %}
                {% endif %}
            </span>
        </p>
        {% endif %}
    </p>
<!-- USERNAME -->


        <div class="row justify-content-center mt-3 mb-5" style="padding-top: 10px;">
            <div class="col-md-5 col-sm-12">
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success mt-3" style="background-color: rgb(224, 33, 199);">Submit!</button>
                    </div>
                </form>
            </div>
        </div>


        {% for post in post_list %}
        
        <div class="card" style="width: 40rem;  text-align: center; margin: 0 auto; float: none; margin-bottom: 50px;
        background-color: rgba(32, 1, 42, 0.644); 
        position: sticky;
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
        overflow-wrap:break-word;

        ">
            <div class="card-body" style="color: white">
                <p><strong>{{ post.mama }}</strong></p>
                <p>{{ post.body }}</p>
                <p>{{ post.created_at }}</p>
                <a class="stretched-link" href="{% url 'post_detail' post.pk %}"></a>
             
           
            </div>
          </div>
        {% endfor %}
    </div>















    
</body>

 

    
{% endblock content %}