{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'sidebar.html' %}
<body class="feed" style="background-image: url('https://imgur.com/Sz7NTZC.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 100px;
background-attachment: fixed;

">

<div class="container"
style="background-color: rgba(49, 6, 39, 0.253); 
    width: 50rem; align-items:center;border-radius: 10px;
  
   "
>
<div class="row mt-5">
    
</div>

<div class="row justify-content-center mt-3"
style="width: 40rem;   text-align: center; margin: 0 auto; float: none; margin-bottom: 50px;
background-color: rgba(32, 1, 42, 0.842); 
font-family: 'Courier New', Courier, monospace;
color: white;
position:relative;
top: 30px;
border-radius: 5px;
font-size: 18px;
overflow-wrap:break-word;
">
<p>
    <strong>{{ post.mama }}</strong> 
    <p>{{ post.body }}</p>
    <p>{{ post.created_at }}</p> 
           

<!-- EDIT BUTTON -->
                 {% if request.user == post.mama %}
<button class="edit-button" style=" background-color: rgb(190, 59, 173); right: 10px; border-radius: 2px; font-weight: bold; border: none;
width: 150px; position: relative;">
    <a href="{% url 'post_update' post.pk %}"style="color: white;">edit</button></a>


<!-- DELETE BUTTON -->
<button class="edit-button" style="background-color: rgb(190, 59, 173); left: 10px; border-radius: 2px; font-weight: bold; border: none;
width: 150px; position: relative;">
    <a href="{% url 'post_delete' post.pk %}" style="color: white;">delete</button></a>
                 {% endif %}
            </p>
</div>

<!-- ADD COMMENT -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h5 style="text-align: center; color:white;font-family: 'Courier New', Courier, monospace;">Add a Comment!</h5>
        </div>
    </div>
<!-- ADD COMMENT -->

<!-- SUBMIT COMMENT -->
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3" style="font-family: 'Courier New', Courier, monospace;background-color: rgb(224, 33, 199);" >Submit!</button>
                </div>
            </form>
        </div>
    </div>
<!-- SUBMIT COMMENT -->



<!-- SHOW ALL COMMENTS  -->
    {% for comment in comments %}
<div class="row justify-content-center mt-3 mb-5" 
    style="width: 40rem; text-align: center; margin: 0 auto; float: none; margin-bottom: 50px; background-color: rgba(32, 1, 42, 0.644); 
    position: sticky;font-family: 'Courier New', Courier, monospace;color: white;border-radius: 9px;align-items: center;
    font-size: 18px;overflow-wrap:break-word;">

<div class="col-md-5 col-sm-12"style="text-align: center;">
        <p>
            <strong>{{ comment.mama }}</strong> 
            {% if request.user == comment.mama %}
            {% endif %}
        </p>
            <p >{{ comment.comment }}</p>
            <p >{{ comment.created_at }}</p>
<!-- DELETE COMMENT BUTTON -->
<button class="edit-button" style="background-color: rgb(190, 59, 173); border-radius: 2px; font-weight: bold; border: none;
width: 150px; position: relative; bottom: 12px;">
        <a href="{% url 'comment_delete' post.pk comment.pk %}" style="color: white;">delete</button></a>
        </div>
    </div>
    {% endfor %}
</div>


</body>
{% endblock content %}