{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% include 'sidebar.html' %}
<body class="feed" style="background-image: url('https://imgur.com/Sz7NTZC.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding-top: 100px;
background-attachment: fixed;

">
<div class="container"
style="background-color: rgba(49, 6, 39, 0.253); 
    width: 50rem; align-items:center;border-radius: 5px;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    "
    
>
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
           
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12">
            <p5 style="color:white; font-size: 25px; text-align: center;">Are You Sure?</p>
            <p style="color:white">You are about to delete this post, this cannot be undone.</p>
        <form method="POST">
            {% csrf_token %}
            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-danger" style="font-family: 'Courier New', Courier, monospace;">Delete</button>
            </div>
        </form>
    </div>
    </div>
</div>
{% endblock content %}