<div class="sidenav"
        style="
        
  height: 100vh;
  overflow:hidden;
  width: 16.2rem;
  position:absolute;
  z-index: 1;
  left: 1;
  background-color: rgba(85, 12, 68, 0.294);
  padding-top: 20px;
  top: 232.5px;
  margin-left: 280px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
 
  ">


<div class="logo" style="padding-left: 70px;" >
            <a class="navbar-brand"
              {% if user.is_authenticated %}
                href="{% url 'post_list' %}"
              {% else %}
              href="{% url 'landing' %}"
              {% endif %}
            >
                
                <img src="https://imgur.com/ulDkAUK.png">

              </a>
  </div>

<div class="buttons">
 <!-- VENT -->
<button type="button" 
style="width: 260px; padding: 20px 20px 20px 20px;
position:relative; top:50px; background-color: rgba(193, 169, 221, 0.397);  
border: none; color:magenta; border-radius: 2px; font-weight: bold;
">
<a class="nav-link" class="btn btn-primary" href="{% url 'post_list' %}" style="color: rgb(255, 255, 255); text: bold;" >
#VENTING SESSION </button></a>
<!-- VENT -->

<!-- BLOG OF THE WEEK -->

<button type="button" 
style=" width: 260px; padding: 20px 20px 20px 20px;
position:relative; top:70px; background-color: rgba(148, 122, 179, 0.397);  
border: none; color:magenta; border-radius: 2px;font-weight: bold;
">
<a class="nav-link" class="btn btn-primary" href="" style="color:rgb(240, 240, 240)" >
#BLOG OF THE WEEK</button></a>
<!-- BLOG OF THE WEEK -->


<!-- MEMES -->
<button type="button" 
style="width: 260px; padding: 20px 20px 20px 20px;
position:relative; top:90px; background-color: rgba(137, 110, 168, 0.397);  
border: none; color:magenta; border-radius: 2px;font-weight: bold;
">
<a class="nav-link" class="btn btn-primary" href="" style="color: rgb(255, 254, 255);" >
#MEMES</button></a>
<!-- MEMES -->

<!-- MOM GUILT -->
<button type="button" 
style=" width: 260px; padding: 20px 20px 20px 20px;
position:relative; top:110px; background-color: rgba(51, 35, 70, 0.397);  
border: none; color:magenta; border-radius: 2px;font-weight: bold;
">
<a class="nav-link" class="btn btn-primary" href="" style="color: rgb(255, 255, 255)" >
#MOM GUILT</button></a>


<!-- MOM GUILT -->


</div>


     




              </div>
